//- footer-mixin.pug
mixin footer
    footer
        p Copyright © #{new Date().getFullYear()} #{title}

        .social-links
            a(href="#") Facebook
            a(href="#") Twitter
            a(href="#") Instagram
