//- header-mixin.pug
mixin header
    header

        h1=title

        nav.nav-bar
            ul
                li
                    a(href="/api/") Home
                li
                    a(href="/api/about-us") About us
                li
                    a(href="/api/contact-us") Contact us
